body{
    margin: 0;
    display: flex;
}

#board {
    width: 700px;
    height: 800px;
    background-color: black;
    margin: 0 auto;
    position: relative;
    display: inline;
}

#player {
    width: 60px;
    height: 60px;
    position: absolute;
    background-color: white;
    background-image: url(../images/player1.gif);
    background-size: cover;
    z-index: 1;
}

.obstaculo{
    width: 50px;
    height: 200px;
    background-color: grey;
    margin: 0 auto;
    position: absolute;
}

.marco{
    width: 33vw;
    height: 800px;
    background-color: green;
    z-index: 1;
    display: inline;

}